.container{
    background-color: black;
    margin: auto;
    width: 80%;
    opacity: .9;
    padding: 1%;
    margin: auto;
    margin-bottom: 1%;
}
table {
    color: white;
    text-align: center
}
th{
    width: 1%
}