body {
    color: white;
    background-image: url("../public/background.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover
}
a:visited {
    color: white
}

a:link {
    color: white
}